*{
    margin: 0;
}

@font-face {
    font-family: 'Mantinia';
    src: url(Mantinia.otf);
    font-weight: 800;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(elden-ring.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#criar-personagem{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(15, 14, 13, 0.703) 7%, rgb(15, 14, 13, 0.703) 93%, rgba(255,255,255,0) 100%);
    width: 500px;
}

h1{
    font-size: 25px;
    color: rgb(221, 218, 156);
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Mantinia';
}

#formulario{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputs{
    width: 400px;
    margin-bottom: 10px;
    background-color: rgba(57, 45, 24, 0.445);
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

select{
    color: rgb(255, 255, 255);
    background-color: rgba(86, 72, 47, 0.467);
    border-radius: 3px;
    border: 2px solid rgba(126, 125, 85, 0);
    border-radius: 2px;
    box-shadow: 0 0 4px 1px #f8f09b;
    float: right;
    width: 175px;
    font-family: serif;
    font-size: 15px;
}

input{
    color: rgb(255, 255, 255);
    background-color: rgba(86, 72, 47, 0.467);
    border-radius: 3px;
    border: 2px solid rgba(126, 125, 85, 0);
    border-radius: 2px;
    box-shadow: 0 0 4px 1px #f8f09b;
    float: right;
    font-family: serif;
    font-size: 15px;
    width: 168px;
}

h2{
    font-size: 25px;
    color: rgb(221, 218, 156);
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-family: 'Mantinia';
}

label{
    color: white;
    font-size: 16px;
}

p{
    color: white;
    margin-left: 50px;
    margin-bottom: 5px;
    font-size: 17px;
}

hr{
    width: 95%;
    margin-left: 12px;
    border-color: rgb(227, 224, 152);
    box-shadow: 0 0 20px 2px #f8f09b;
}

#exibir-info{
    margin-bottom: 30px;
    float: left;
    width: 400px;
}

button{
    margin-top: 20px;
    font-family: serif;
    font-size: 18px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgb(126, 125, 85);
    border-radius: 2px;
    box-shadow: 0 0 8px 1px #f8f09b;
    cursor: pointer;
}

@media (max-width: 480px){
    #criar-personagem{
        width: 400px;
    }
    h1, h2{
        font-size: 20px;
    }
    .inputs{
        width: 300px;
    }
    label{
        font-size: 15px;
    }
}